<!DOCTYPE html>
<html>
    <head>
        <title>My first webpage </title>
    </head> 
    <body>
        <center><h2> This is my Home page</h2></center>
        <li><a href="/register"> Register/SignUp </a></li>
        <li><a href="/login">Login </a></li>
        <li><a href="logout">Logout </a></li>
    </body>
</html>