<h1>Login</h1>
<form action="/Login" method='POST'>
    <input type="text" name ="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>login</button> 
</form> 

<h1> This is Home Page </h1>
<li><a href="/register"> Register/SignUp </a></li>
<li><a href="/login">Login </a></li>
<li><a href="logout">Logout </a></li>