<h2> This is Secret page </h2>

<h1> This is a HomePage </h1>
<li><a href="/register"> Register/SignUp </a></li>
        <li><a href="/login">Login </a></li>
        <li><a href="logout">Logout </a>
</li>